@page
@model IndexModel

<h2>Member</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Tel</th>
            <th>Gender</th>
            <th>Birthday</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Member)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Phone</td>
                <td>@item.Tel</td>
                <td>@item.Gender</td>
                <td>@item.Birthday.ToShortDateString()</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
